 @import url("https://fonts.googleapis.com/css?family=Indie+Flower");
body {
  font-family: "Indie Flower", sans-serif;
  background-color: #4f2cce;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 45px;
}

@-webkit-keyframes spindice {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

@keyframes spindice {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}


button {
  font-size: 16px;
  color: #fff;
  background-color: #01944C;
  height: auto;
  border: none;
  padding: 10px 40px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
button:hover {
  background-color: #fff;
  color: #303030;
}

img {
        width: 80px;
        padding: 10px;
        -webkit-animation: none;
                animation: none;
      }