h1.header Invention Game

// Shows a question mark whilst loading
img(src="https://bit.ly/dice-unknown")#dice
img(src="https://bit.ly/dice-unknown")#dice2
img(src="https://bit.ly/dice-unknown")#dice3
img(src="https://bit.ly/dice-unknown")#dice4
img(src="https://bit.ly/dice-unknown")#dice5
img(src="https://bit.ly/dice-unknown")#dice6

// When you click the div, it executes rollThatDice()
div(onclick="rollThatDice()") Roll That Dice

// A link to the roll sound you hear
audio(src="https://bit.ly/dice-sound")#audio